<!doctype html>
<html>
	<body>
	<table width="100%" border="1">
  <tbody>
    <tr bgcolor="#ADADAD">
      <td width="33%">&nbsp;</td>
      <td bgcolor="">Home Hub</td>
      <td width="33%">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#6DC0DD"><p>Weather for {{user }} in {{ location }}</p>
      <p>It is {{ temp }} degrees celcius outside!</p>
      <p>Wind is {{  wind_speed  }} from {{ wind_direction }} degrees.</p></td>
      <td>&nbsp;</td>
      <td>
          <form method="post" action="/">
              <p>
                  <input type="submit" name="Wake" value="wake">
              </p>
          </form>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

	</body>
</html>